body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #141418;
}

body::-webkit-scrollbar-thumb {
  background: #cacacace;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

h1 {
  text-align: center;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  margin-left: 1rem;
  display: none;
  min-width: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 0.5rem;
}

.nav-link img,
.nav-link img:hover {
  min-width: 2rem;
  margin: 0 0.5rem;
}

.icon-primary {
  color: #cb7eff;
}

.icon-secondary {
  color: #df49a6;
}

.icon-primary,
.icon-secondary {
  transition: var(--transition-speed);
}

:root {
  font-size: 32px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100%;
  }

  .navbar .nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
    padding: 1rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 5rem;
    padding: 1rem;
  }

  .navbar {
    width: 3rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 9rem;
  }

  .navbar:hover .link-text {
    display: block;
    transition: opacity var(--transition-speed);
  }
}
